image: Visual Studio 2017
init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.bat 
test_script:
  - dotnet run --project .\Tests\Tests.fsproj --framework net461
  - dotnet run --project .\Tests.FSharpData\Tests.FSharpData.fsproj --framework net461
  - dotnet run --project .\Tests.NewtonsoftJson\Tests.NewtonsoftJson.fsproj --framework net461
nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: false
