<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="0.9.4.0" targetFramework="net40" />
  <package id="FsControl" version="1.0.9" targetFramework="net40" />
  <package id="FSharpPlus" version="0.0.4" targetFramework="net40" />
  <package id="Fuchu" version="0.4.0.0" targetFramework="net40" />
  <package id="Fuchu.FsCheck" version="0.4.0.0" targetFramework="net40" />
  <package id="ReadOnlyCollectionExtensions" version="1.2.0" targetFramework="net40" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net40" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net40" />
</packages>