<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsControl" version="1.0.8" targetFramework="net40" />
  <package id="FSharpPlus" version="0.0.3" targetFramework="net40" />
  <package id="ReadOnlyCollectionExtensions" version="1.0.0" targetFramework="net40" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net40" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net40" />
</packages>